﻿@{
    ViewBag.Title = "Terminos";
    Layout = "~/Views/Miracle/_Layout.cshtml";
}

<div id="page-wrapper">

    <div class="page-title-container">
        <div class="page-title">
            <div class="container">
                <h1 class="entry-title">Terminos y Condiciones</h1>
                <br /><br />
            </div>
        </div>
        <ul class="breadcrumbs">
            <li><a href="index.html">Inicio</a></li>
            <li class="active">Terminos y Condiciones</li>
        </ul>

    </div>

    <section id="content">
        <div class="container">
        </div>
    </section>
</div>
