﻿@{
    ViewBag.Title = "_Layout";
}


<!DOCTYPE html>
<html class=" js canvas canvastext no-touch cssanimations csstransforms csstransforms3d csstransitions">
<head>
    <!-- Page Title -->
    <title>@Page.TitlePage :: @Page.TitleSite</title>

    <link rel="shortcut icon" href="images/favicon.png" />

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="description" content="Miracle | Responsive Multi-Purpose HTML5 Template">
    <meta name="author" content="SoapTheme">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Theme Styles -->
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/Miracle/css/bootstrap.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/Miracle/css/font-awesome.min.css")" type="text/css" />
    <link href="@Url.Content("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic")" rel='stylesheet' type='text/css'>
    <link href="@Url.Content("http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic")" rel='stylesheet' type='text/css'>
    <link href="@Url.Content("http://fonts.googleapis.com/css?family=Dosis:400,300,500,600,700")" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/Miracle/css/animate.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/Miracle/components/owl-carousel/owl.carousel.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/Miracle/components/owl-carousel/owl.transitions.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/Miracle/components/mediaelement/mediaelementplayer.min.css")" media="screen" />

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/Miracle/components/magnific-popup/magnific-popup.css")" />

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/Miracle/components/revolution_slider/css/settings.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/Miracle/components/revolution_slider/css/style.css")" media="screen" />

    <!-- Main Style -->
    <style>
        .fluid-width-video-wrapper {
            width: 100%;
            position: relative;
            padding: 0;
        }

            .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>

    <link id="main-style" rel="stylesheet" href="@Url.Content("~/Content/themes/Miracle/css/style-navy.css")"> @*cambio de color*@

    <!-- Custom Styles -->
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/Miracle/css/custom.css")">

    <!-- Updated Styles -->
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/Miracle/css/updates.css")">

    <!-- Responsive Styles -->
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/Miracle/css/responsive.css")">
</head>
<body>
    <div id="page-wrapper">
        <header id="header" class="header-color-white">
            <div class="container">
                <div class="header-inner">
                    <div class="branding">
                        <h1 class="logo">
                            <a href=""><img src="@Url.Content("~/Content/themes/Miracle/images/Logo_Cotel.png")" alt="Logo Cotel" width="25" height="26">Cotel    </a>
                        </h1>
                    </div>
                    <div class="branding">
                        <h1 class="logo">
                            @*@Html.ActionLink("Recarga de Tiempo Aire", "Contacto")*@
                            @*<a href=""><img src="@Url.Content("~/Content/themes/Miracle/images/Recargas.png")" alt="Recargas" width="25" height="26">Recarga de Tiempo Aire</a>*@

                            <a href=""> @*@Url.Action("ConektaTest", "Miracle")*@
                                <img src="@Url.Content("~/Content/themes/Miracle/images/Recargas.png")" /> Recarga de Tiempo Aire
                            </a>

                        </h1>
                    </div>
                    
                    <nav id="nav">

                        <ul class="header-top-nav">
                            <li class="visible-mobile">
                                <a href="#mobile-nav-wrapper" data-toggle="collapse"><i class="fa fa-bars has-circle"></i></a>
                            </li>
                        </ul>

                        <ul id="main-nav" class="hidden-mobile">
                            <li class="menu-item-has-children">
                                @Html.ActionLink("Inicio", "")
                            </li>
                            <li class="menu-item-has-children">
                                @Html.ActionLink("Sobre Nosotros", "AboutUs")
                                <ul class="sub-nav">
                                    <li class="menu-item-has-children">
                                        @Html.ActionLink("Contacto", "Contacto")
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="">Redes Sociales</a>
                                        <ul class="sub-nav">
                                            <li><a href=""><i class="fa fa-facebook"></i><span>  Facebook</span></a></li>
                                            <li><a href=""><i class="fa fa-youtube-square"></i><span>   YouTube</span></a></li>
                                            <li><a href=""><i class="fa fa-twitter-square"></i><span>  Twitter</span></a></li>
                                            <li><a href=""><i class="fa fa-google-plus-square"></i><span>  Google+</span></a></li>
                                            <li><a href=""><i class="fa fa-linkedin-square"></i><span>  LinkedIn</span></a></li>
                                            <li><a href=""><i class="fa fa-skype"></i><span>  Skype</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                @Html.ActionLink("Productos y Servicios", "ProductsAndServices")
                            </li>
                            <li class="menu-item-has-children">
                                @Html.ActionLink("Proyectos", "Proyectos")
                            </li>
                            <li class="menu-item-has-children">
                                @Html.ActionLink("Blog", "Blog")
                            </li>

                        </ul>

                        <div class="mobile-nav-wrapper collapse visible-mobile" id="mobile-nav-wrapper">
                            <ul class="mobile-nav">
                            
                                <li class="menu-item-has-children">
                                    @Html.ActionLink("Inicio", "")
                                </li>
                                <li class="menu-item-has-children">
                                    @Html.ActionLink("Sobre Nosotros", "AboutUs")
                                </li>
                                <li class="menu-item-has-children">
                                    @Html.ActionLink("Contacto", "Contacto")
                                </li>
                                <li class="menu-item-has-children">
                                    @Html.ActionLink("Productos y Servicios", "ProductsAndServices")
                                </li>
                                <li class="menu-item-has-children">
                                    @Html.ActionLink("Proyectos", "Proyectos")
                                </li>
                                <li class="menu-item-has-children">
                                    @Html.ActionLink("Blog", "Blog")
                                </li>
                            
                            </ul>
                        </div>

                    </nav>

                    
                </div>
                
            </div>
        </header>


        @RenderBody()


        <footer id="footer" class="style4">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row add-clearfix same-height">
                        <div class="col-sm-6 col-md-3">
                            <h5 class="section-title box">Posts Recientes</h5>
                            <ul class="recent-posts">
                                <li>
                                    <a href="#" class="post-author-avatar"><span><img src="@Url.Content("~/Content/themes/Miracle/images/Blog/Blogger1.jpg")" alt=""></span></a>
                                    <div class="post-content">
                                        <a href="#" class="post-title">El nuevo smartwatch de Apple</a>
                                        <p class="post-meta">Por <a href="#">Admin</a>  .  20 Mar, 2015</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="post-author-avatar"><span><img src="@Url.Content("~/Content/themes/Miracle/images/Blog/Blogger2.jpg")" alt=""></span></a>
                                    <div class="post-content">
                                        <a href="#" class="post-title">Seguridad en linea</a>
                                        <p class="post-meta">Por <a href="#">Admin</a>  .  22 Mar, 2015</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="post-author-avatar"><span><img src="@Url.Content("~/Content/themes/Miracle/images/Blog/Blogger3.jpg")" alt=""></span></a>
                                    <div class="post-content">
                                        <a href="#" class="post-title">Tendencias en telefonía Celular</a>
                                        <p class="post-meta">Por <a href="#">Admin</a>  .  23 Mar, 2015</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h5 class="section-title box">Tags Populares</h5>
                            <div class="tags">
                                <a href="#" class="tag">Pospago</a>
                                <a href="#" class="tag">Prepago</a>
                                <a href="#" class="tag">Tiempo Aire</a>
                                <a href="#" class="tag">Tendencias</a>
                                <a href="#" class="tag">Tecnología</a>
                                <a href="#" class="tag">Whatsapp</a>
                                <a href="#" class="tag">retina</a>

                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h5 class="section-title box">Links Utiles</h5>
                            <ul class="arrow useful-links">
                                <li><a href="#">Telcel Región 9</a></li>
                                <li><a href="#">Contacto</a></li>
                                <li><a href="#">Proyectos</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">GSM Arena</a></li>

                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h5 class="section-title box">Acerca De...</h5>
                            <p>© Copyright 2014.  By e-Bitware. All Rights Reserved</p>
                            <div class="social-icons">
                                <a href="#" class="social-icon"><i class="" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
                                <a href="#" class="social-icon"><i class="" data-toggle="tooltip" data-placement="top" title="Facebook"></i></a>
                                <a href="#" class="social-icon"><i class="" data-toggle="tooltip" data-placement="top" title="GooglePlus"></i></a>
                                <a href="#" class="social-icon"><i class="" data-toggle="tooltip" data-placement="top" title="LinkedIn"></i></a>
                                <a href="#" class="social-icon"><i class="" data-toggle="tooltip" data-placement="top" title="Skype"></i></a>
                                <a href="#" class="social-icon"><i class="" data-toggle="tooltip" data-placement="top" title="Dribbble"></i></a>
                                <a href="#" class="social-icon"><i class="" data-toggle="tooltip" data-placement="top" title="Tumblr"></i></a>
                            </div>
                            <a href="#" class="btn btn-sm style4">Contactanos</a>
                            <a href="#" class="back-to-top"><span></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="copyright-area">
                        <nav class="secondary-menu">
                            <ul class="nav nav-pills">
                                <li><a href="">Inicio</a></li>
                                <li><a href="">Sobre Nosotros</a></li>
                                <li><a href="">Productos y Servicios</a></li>
                                <li><a href="">Proyectos</a></li>
                                <li><a href="">Contacto</a></li>
                                <li><a href="">Redes Sociales</a></li>
                                <li><a href="">Blog</a></li>
                            </ul>
                        </nav>
                        <div class="copyright">
                            &copy; 2014 <em>Powered by</em> <a href="http://www.e-bitware.com/">e-Bitware</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/js/jquery-2.1.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/js/jquery.noconflict.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/js/modernizr.2.8.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/js/jquery-migrate-1.2.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/js/jquery-ui.1.11.2.min.js")"></script>

    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/js/bootstrap.min.js")"></script>

    <!-- Magnific Popup core JS file -->
    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/components/magnific-popup/jquery.magnific-popup.min.js")"></script>

    <!-- parallax -->
    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/js/jquery.stellar.min.js")"></script>

    <!-- waypoint -->
    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/js/waypoints.min.js")"></script>

    <!-- Owl Carousel -->
    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/components/owl-carousel/owl.carousel.min.js")"></script>

    <!-- load revolution slider scripts -->
    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/components/revolution_slider/js/jquery.themepunch.tools.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/components/revolution_slider/js/jquery.themepunch.revolution.min.js")"></script>

    <!-- Media Element -->
    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/components/mediaelement/mediaelement-and-player.js")"></script>

    <!-- plugins -->
    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/js/jquery.plugins.js")"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/js/main.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/js/revolution-slider.js")"></script>

    <!-- Google Map Api -->
    <script type='text/javascript' src="@Url.Content("http://maps.google.com/maps/api/js?sensor=false&amp;language=en")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/themes/Miracle/js/gmap3.js")"></script>

  

    <script type="text/javascript">
        sjq(".soap-google-map").gmap3({
            map: {
                options: {
                    center: [19.436448, -99.151924],
                    zoom: 17,
                    scrollwheel: false
                }
            },
            marker: {
                values: [
                    { latLng: [19.436448, -99.151924], data: "México D.F." }

                ],
                options: {
                    draggable: false,
                    icon: "../Content/themes/Miracle/images/marker.png",
                },
            }
        });
    </script>

</body>
</html>