﻿@{
    ViewBag.Title = "ConektaTest";
    Layout = "~/Views/Miracle/_Layout.cshtml";
}

@using COTEL.Models
@using COTEL.ViewModels
@model RecargaTAEViewModel 

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />


<script type="text/javascript">
    Conekta.setPublishableKey('key_CXdQrGC2xPtLzx3VqfyczrQ');

    $(document).ready(function () {
        loadCaptcha();

        //------ AE ------
        $form = $(this);
        //$form.find("#txtCaptcha").prop("value", "xde");
        console.log($form.find("#txtCaptcha").prop("value"));
        //------ AE ------
    });

    function loadCaptcha() {
        $.ajax({
            type: 'GET', url: 'miracle/generateCaptcha',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) { $("#m_imgCaptcha").attr('src', data); },
            error: function (data) { console.log("Error while loading captcha image") }
        });
    }

    $(function () {
        var error = document.getElementById('error').value;
        console.log('error = ' + error);
        if (error != "") {
            $("#dialog-confirm").dialog({
                resizable: true,
                height: 200,
                width: 300,
                modal: true,
                buttons: {
                    "Aceptar": function () {
                        $(this).dialog("close");
                        $(this).empty();
                        $(this).remove();
                    }
                }
            });
        }
    });


    jQuery(function ($) {
        var which;

        $("#btnRealizarPago").click(function () {
            which = $(this).attr("id");
        });

        $("#btnRealizarPagoBack").click(function () {
            which = $(this).attr("id");
        });

        $("#btnStep01").click(function () {
            which = $(this).attr("id");
        });

        $("#btnStep02").click(function () {
            which = $(this).attr("id");
        });

        $("#card-form").submit(function (event) {
            var $form;
            switch (which) {
                case "btnRealizarPago":
                    //Validar recarga antes de hacer el cargo
                    $form = $(this);
                    /* Previene hacer submit más de una vez */
                    $form.find("button").prop("disabled", true);
                    @*if ($form.find("#txtCaptcha").prop("value") == '@Request.RequestContext.HttpContext.Session["captchaText"]') {
                        console.log('on');
                    }*@
                    Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
                    $("#loading").show();
                    return false;
                    break;
                default:
                    $form.submit();
                    return false;
                    break;
            }
        });
    });

    conektaSuccessResponseHandler = function (token) {
        var $form;

        $form = $("#card-form");

        /* Inserta el token_id en la forma para que se envíe al servidor */
        $form.append($("<input type=\"hidden\" name=\"conektaTokenId\"/>").val(token.id));


        $form.append($("<input type=\"hidden\" name=\"clientCaptcha\"/>").val($form.find("#txtCaptcha").prop("value")));
        $form.append($("<input type=\"hidden\" name=\"clientNIP\"/>").val($form.find("#txtNIP").prop("value")));

        /* and submit */
        $form.get(0).submit();

    };

    conektaErrorResponseHandler = function (response) {
        var $form;

        $form = $("#card-form");

        /* Muestra los errores en la forma */
        $("#lblErrorMessage").text(response.message);
        $("#loading").hide();
        console.log(response.message);
        $form.find("button").prop("disabled", false);

        //$("#error").text(response.message);
        //$("#errorMessage").text = response.message;
        $('#errorMessage').text(response.message);

        

        //document.getElementById('error').value = response.message;
        /*console.log(document.getElementById('error').value);*/
        
        var error = response.message; 
        if (error != "") {
            $("#dialog-confirm").dialog({
                resizable: true,
                height: 200,
                width: 300,
                modal: true,
                buttons: {
                    "Aceptar": function () {
                        $(this).dialog("close");
                        $(this).empty();
                        $(this).remove();
                    }
                }
            });
        }
    };

</script>
<div id="page-wrapper">

    <div class="page-title-container">
        <div class="page-title">
            <div class="container">
                <h1 class="entry-title">Recarga de Tiempo Aire Electrónico</h1>
                <br /><br />
            </div>
        </div>
        <ul class="breadcrumbs">
            <li><a href="index.html">Inicio</a></li>
            <li class="active">Recarga de Tiempo Aire Electrónico</li>
        </ul>

    </div>
    <br /><br />
    <div class="heading-box col-md-5">
        <p class="desc-lg text-justify" style="font-size: 1.15em; color: #000000; font-weight: bold;">
            Ahora Recarga Saldo a quien tu quieras de forma fácil y segura con cargo a tu Tarjeta de Crédito o Débito Nacional o Internacional. Selecciona o ingresa el número y el monto que deseas recargar, incluyendo los datos de la tarjeta donde se realizará el cargo.
        </p>
        <p class="desc-lg text-justify" style="font-size: 1.15em; color: #000000; font-weight: bold;">
            Para realizar compras con Tarjeta de Débito, debes consultar con tu banco que tu tarjeta esté
            autorizada para compras por Internet.
        </p>
        <p class="desc-lg text-justify " style="font-size: 1.15em; color: #000000; font-weight: bold;">
            Importante:<br />
            Es necesario que cuentes con todos los datos de tu Tarjeta de Crédito o Débito para realizar tu compra.
        </p>
    </div>


    @switch (Model.RecargaInfo.ActualStep)
    {
        case RecargaInfoModel.CurrentStep.StepGetPhoneNumber:

    <div class="col-md-5 center-block text-center block">

        @using (Html.BeginForm())
                        {
            @Html.HiddenFor(oCurrentModel => oCurrentModel.RecargaInfo.ActualStep)


                    <table class="ui-accordion" style=" width:100%">
                        <tr>
                            <td>
                                <img src="@Url.Content("~/Content/themes/Miracle/images/Step01on.png")" alt="paso_1" style="width:100%;" border="0">
                            </td>
                            <td>
                                <img src="@Url.Content("~/Content/themes/Miracle/images/Step02off.png")" alt="paso_2" style="width:100%;" border="0">
                            </td>
                            <td>
                                <img src="@Url.Content("~/Content/themes/Miracle/images/Step03off.png")" alt="paso_3" style="width:100%;" border="0">
                            </td>
                            <td>
                                <img src="@Url.Content("~/Content/themes/Miracle/images/Step04off.png")" alt="paso_4" style="width:100%;" border="0">
                            </td>
                        </tr>
                    </table>
                    @*<img src="@Url.Content("~/Content/themes/Miracle/images/Step01on.png")" alt="paso_1" style="float:left;" border="0">
                    <img src="@Url.Content("~/Content/themes/Miracle/images/Step02off.png")" alt="paso_2" style="float:left;" border="0">
                    <img src="@Url.Content("~/Content/themes/Miracle/images/Step03off.png")" alt="paso_3" style="float:left;" border="0">
                    <img src="@Url.Content("~/Content/themes/Miracle/images/Step04off.png")" alt="paso_4" style="float:left; width:auto;" border="0">*@
                    <br />
                    <br />
                    <br />
                    

                    <div class="row">
                        <div class="form-group col-sms-5">
                            <label class="desc-lg text-justify " style="font-size: 1.1em; color: #000000; ">Número Celular:</label>
                            @Html.TextBoxFor(oCurrentModel => oCurrentModel.RecargaInfo.NumeroCelular, new { @class = "input-text full-width", @placeholder = "", @MaxLenght = "10", @style = "color:#000000" })
                            @Html.ValidationMessageFor(oCurrentModel => oCurrentModel.RecargaInfo.NumeroCelular, null, new { @style = "color:red" })
                        </div>
                        <div class="form-group col-sms-5">
                            <label class="desc-lg text-justify " style="font-size: 1.1em; color: #000000; ">Confirmación de número celular:</label>
                            @Html.TextBoxFor(oCurrentModel => oCurrentModel.RecargaInfo.ConfirmacionCelular, new { @class = "input-text full-width", @placeholder = "", @style = "color:#000000" })
                            @Html.ValidationMessageFor(oCurrentModel => oCurrentModel.RecargaInfo.ConfirmacionCelular, null, new { @style = "color:red" })
                        </div>
                        <div class="form-group col-sms-5">
                            <label class="desc-lg text-justify " style="font-size: 1.1em; color: #000000;">Monto:</label>
                            @Html.DropDownListFor(oCurrentModel => oCurrentModel.RecargaInfo.MontoRecarga, new List<SelectListItem>{
                                    new SelectListItem() {Text = "-- Seleccionar --", Value="0"},
                                    new SelectListItem() {Text = "500", Value="500"},
                                    new SelectListItem() {Text = "300", Value="300"},
                                    new SelectListItem() {Text = "200", Value="200"},
                                    new SelectListItem() {Text = "150", Value="150"},
                                    new SelectListItem() {Text = "100", Value="100"},
                                    new SelectListItem() {Text = "50", Value="50"},
                                    new SelectListItem() {Text = "30", Value="30"},
                                    new SelectListItem() {Text = "20", Value="20"}
                                }, new { @style = "color:#000000" })
                            @Html.ValidationMessageFor(oCurrentModel => oCurrentModel.RecargaInfo.MontoRecarga, null, new { @style = "color:red" })

                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="btnSave" class="btn btn-md style2" name="Command" value="NextSelectionPhone">Siguiente >></button>
                    </div>
                    }
        </div>
                break;
        case RecargaInfoModel.CurrentStep.StepGetCreditCard:
            <div class="col-md-5 center-block text-center block">
                @using (Html.BeginForm())
                    {
                    @Html.HiddenFor(oCurrentModel => oCurrentModel.RecargaInfo.ActualStep, new { @Value = "StepGetCreditCard" });
                    @Html.HiddenFor(oCurrentModel => oCurrentModel.RecargaInfo.NumeroCelular)
                    @Html.HiddenFor(oCurrentModel => oCurrentModel.RecargaInfo.ConfirmacionCelular)
                    @Html.HiddenFor(oCurrentModel => oCurrentModel.RecargaInfo.MontoRecarga)
                    

                    @*<input type="image" src="@Url.Content("~/Content/themes/Miracle/images/Step01off.png")" alt="paso_1" style="float:left;" border="0" id="btnSave" name="Command" value="BackCreditCard" />
                    <img src="@Url.Content("~/Content/themes/Miracle/images/Step02on.png")" alt="paso_2" style="float:left;" border="0">
                    <img src="@Url.Content("~/Content/themes/Miracle/images/Step03off.png")" alt="paso_3" style="float:left;" border="0">
                    <img src="@Url.Content("~/Content/themes/Miracle/images/Step04off.png")" alt="paso_4" style="float:left;" border="0">*@


                    <table class="ui-accordion" style=" width:100%">
                        <tr>
                            <td>
                                <input type="image" src="@Url.Content("~/Content/themes/Miracle/images/Step01off.png")" alt="paso_1" style="width:100%; vertical-align:middle; " border="0" id="btnSave" name="Command" value="BackCreditCard" />
                            </td>
                            <td>
                                <img src="@Url.Content("~/Content/themes/Miracle/images/Step02on.png")" alt="paso_2" style="width:100%; height:inherit" border="0">
                            </td>
                            <td>
                                <img src="@Url.Content("~/Content/themes/Miracle/images/Step03off.png")" alt="paso_3" style="width:100%;" border="0">
                            </td>
                            <td>
                                <img src="@Url.Content("~/Content/themes/Miracle/images/Step04off.png")" alt="paso_4" style="width:100%;" border="0">
                            </td>
                        </tr>
                    </table>
                    <br /><br />
                    <div class="row">
                        <div class="form-group col-sms-5">
                            <table style="width:100%">
                                <tr>
                                    <td style="width:50%;">
                                        <label class="desc-lg text-justify " style="font-size: 1.1em; color: #000000; ">Nombre del Tarjetahabiente:</label>
                                        @Html.TextBoxFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.TarjetaHabiente, new { @class = "input-text", @placeholder = "", @style = "width:98%; color:#000000" })
                                        @Html.ValidationMessageFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.TarjetaHabiente, null, new { @style = "color:red" })
                                    </td>
                                    <td style="width:50%;">
                                        <label class="desc-lg text-justify " style="font-size: 1.1em; color: #000000; ">Correo Electrónico (se le enviará un NIP):</label>
                                        @Html.TextBoxFor(oCurrentModel => oCurrentModel .TarjetaCreditoInfo.CorreoElectronico, new { @class = "input-text ", @placeholder = "", @style = "width:98%; color:#000000" })
                                        @Html.ValidationMessageFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.CorreoElectronico, null, new { @style = "color:red" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-group col-sms-5">
                            <table style="width:100%">
                                <tr>
                                    <td style="width:35%;">
                                        <label class="desc-lg text-justify " style="font-size: 1.1em; color: #000000; ">Número de Tarjeta:</label>
                                        @Html.TextBoxFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.NumeroTarjeta, new { @class = "input-text", @placeholder = "", @style = "width:97%; color:#000000" })
                                        @Html.ValidationMessageFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.NumeroTarjeta, null, new { @style = "color:red" })
                                    </td>
                                    <td style="width:15%;">
                                        <label class="desc-lg text-justify " style="font-size: 1.1em; color: #000000; ">CVC:</label>
                                        @Html.TextBoxFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.CVC, new { @class = "input-text ", @placeholder = "", @style = "width:97%; color:#000000" })
                                        @Html.ValidationMessageFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.CVC, null, new { @style = "color:red" })

                                    </td>
                                    <td style="width:25%;">
                                        <label class="desc-lg text-justify " style="font-size: 1.1em; color: #000000; ">Exp.(MM):</label>
                                        @*@Html.TextBoxFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.ExpiracionMes, new { @class = "input-text", @placeholder = "", @style = "width:97%; color:#000000" })
                                        @Html.ValidationMessageFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.ExpiracionMes, null, new { @style = "color:red" })*@

                                        @Html.DropDownListFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.ExpiracionMes, new List<SelectListItem>{
                                            new SelectListItem() {Text = "-- Seleccionar --", Value="0"},
                                            new SelectListItem() {Text = "01", Value="01"},
                                            new SelectListItem() {Text = "02", Value="02"},
                                            new SelectListItem() {Text = "03", Value="03"},
                                            new SelectListItem() {Text = "04", Value="04"},
                                            new SelectListItem() {Text = "05", Value="05"},
                                            new SelectListItem() {Text = "06", Value="06"},
                                            new SelectListItem() {Text = "07", Value="07"},
                                            new SelectListItem() {Text = "08", Value="08"},
                                            new SelectListItem() {Text = "09", Value="09"},
                                            new SelectListItem() {Text = "10", Value="10"},
                                            new SelectListItem() {Text = "11", Value="11"},
                                            new SelectListItem() {Text = "12", Value="12"}
                                        }, new { @style = "width:97%; color:#000000;" })
                                        @Html.ValidationMessageFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.ExpiracionMes, null, new { @style = "color:red" })


                                    </td>
                                    <td style="width:25%;">
                                        <label class="desc-lg text-justify " style="font-size: 1.1em; color: #000000; ">Expiración (YYYY):</label>
                                        @*@Html.TextBoxFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.ExpiracionAño, new { @class = "input-text", @placeholder = "", @style = "width:97%; color:#000000" })
                                        @Html.ValidationMessageFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.ExpiracionAño, null, new { @style = "color:red" })*@


                                        @Html.DropDownListFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.ExpiracionAño, new List<SelectListItem>{
                                            new SelectListItem() {Text = "-- Seleccionar --", Value="0"},
                                            new SelectListItem() {Text = "2015", Value="2015"},
                                            new SelectListItem() {Text = "2016", Value="2016"},
                                            new SelectListItem() {Text = "2017", Value="2017"},
                                            new SelectListItem() {Text = "2018", Value="2018"},
                                            new SelectListItem() {Text = "2019", Value="2019"},
                                            new SelectListItem() {Text = "2020", Value="2020"},
                                            new SelectListItem() {Text = "2021", Value="2021"},
                                            new SelectListItem() {Text = "2022", Value="2022"},
                                            new SelectListItem() {Text = "2023", Value="2023"},
                                            new SelectListItem() {Text = "2024", Value="2024"},
                                            new SelectListItem() {Text = "2025", Value="2025"},
                                            new SelectListItem() {Text = "2026", Value="2026"},
                                            new SelectListItem() {Text = "2027", Value="2027"},
                                            new SelectListItem() {Text = "2028", Value="2028"},
                                            new SelectListItem() {Text = "2029", Value="2029"},
                                            new SelectListItem() {Text = "2030", Value="2030"}
                                        }, new { @style = "width:97%; color:#000000;" })
                                        @Html.ValidationMessageFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.ExpiracionAño, null, new { @style = "color:red" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                        @*<div class="col-md-5 center-block text-left block">
                            <br />
                            <label id="lblErrorMessage" name="lblErrorMessage" style="color: #ff0000; ">@Model.ErrorString</label>
                        </div>*@
                    <div class="form-group">
                        <button type="submit" id="btnSave" class="btn btn-md style2" name="Command" value="BackCreditCard"><< Anterior</button>
                        <button type="submit" id="btnSave" class="btn btn-md style2" name="Command" value="NextCreditCard">Siguiente >></button>
                    </div>
                    }
            </div>
            break;
        case RecargaInfoModel.CurrentStep.StepResume:
        <div class="col-md-5 center-block text-left block">
            <form action="" method="POST" id="card-form">

                @*<input type="image" src="@Url.Content("~/Content/themes/Miracle/images/Step01off.png")" alt="paso_1" style="float:left;" border="0" id="btnStep01" name="Command" value="BackCreditCard" />
                <input type="image" src="@Url.Content("~/Content/themes/Miracle/images/Step02off.png")" alt="paso_2" style="float:left;" border="0" id="btnStep02" name="Command" value="BackConfirmacion" />
                <img src="@Url.Content("~/Content/themes/Miracle/images/Step03on.png")" alt="paso_3" style="float:left;" border="0">
                <img src="@Url.Content("~/Content/themes/Miracle/images/Step04off.png")" alt="paso_4" style="float:left;" border="0">*@

                <table class="ui-accordion" style=" width:100%">
                    <tr>
                        <td>
                            <input type="image" src="@Url.Content("~/Content/themes/Miracle/images/Step01off.png")" alt="paso_1" style="width:100%; vertical-align:middle; " border="0" id="btnStep01" name="Command" value="BackCreditCard" />
                        </td>
                        <td>
                            <input type="image" src="@Url.Content("~/Content/themes/Miracle/images/Step02off.png")" alt="paso_2" style="width:100%; vertical-align:middle;" border="0" id="btnStep02" name="Command" value="BackConfirmacion" />
                        </td>
                        <td>
                            <img src="@Url.Content("~/Content/themes/Miracle/images/Step03on.png")" alt="paso_3" style="width:100%;" border="0">
                        </td>
                        <td>
                            <img src="@Url.Content("~/Content/themes/Miracle/images/Step04off.png")" alt="paso_4" style="width:100%;" border="0">
                        </td>
                    </tr>
                </table>

                <br /><br />

                @Html.HiddenFor(oCurrentModel => oCurrentModel.RecargaInfo.ActualStep, new { @Value = "StepResume" })

                @Html.HiddenFor(oCurrentModel => oCurrentModel.RecargaInfo.NumeroCelular)
                @Html.HiddenFor(oCurrentModel => oCurrentModel.RecargaInfo.ConfirmacionCelular)
                @Html.HiddenFor(oCurrentModel => oCurrentModel.RecargaInfo.MontoRecarga)

                @Html.HiddenFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.TarjetaHabiente)
                @Html.HiddenFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.NumeroTarjeta)
                @Html.HiddenFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.CVC)
                @Html.HiddenFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.ExpiracionMes)
                @Html.HiddenFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.ExpiracionAño)
                @Html.HiddenFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.CorreoElectronico)

                @Html.HiddenFor(oCurrentModel => oCurrentModel.CodigoCaptcha)

                <span class="card-errors"></span>
                <br />
                <div class="form-group">
                    <table >
                        <tr>
                            <td>
                                <span style="color:#000000">Nombre del tarjetahabiente: </span>
                            </td>
                            <td>
                                <input type="text" size="25" data-conekta="card[name]" name="txtNameHolder" class="input-text" style="height:98%; line-height: 30px;  background-color: #FFFFFF; color:#000000; font-weight: bold;" readonly value="@Model.TarjetaCreditoInfo.TarjetaHabiente" />

                            </td>
                            <td rowspan="6" style="padding: 7%;">
                                <img id="loading" alt="Realizando recarga ..." src="@Url.Content("~/Content/themes/Miracle/images/Loading.GIF")" style="display: none;" /> @**@
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color:#000000">Correo Electrónico: </span>
                            </td>
                            <td>
                                <input type="text" size="20" class="input-text" style=" height:98%; line-height: 30px; background-color: #FFFFFF; color:#000000; font-weight: bold;" readonly value="@Model.TarjetaCreditoInfo.CorreoElectronico" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color:#000000">Número de tarjeta de crédito: </span>
                            </td>
                            <td>
                                <input type="text" size="20" data-conekta="card[number]" class="input-text" style=" height:98%; line-height: 30px; background-color: #FFFFFF; color:#000000; font-weight: bold;" readonly value="@Model.TarjetaCreditoInfo.NumeroTarjeta" /> @*5105105105105100*@  @*4242424242424242*@
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color:#000000">CVC: </span>
                            </td>
                            <td>
                                <input type="text" size="3" data-conekta="card[cvc]" class="input-text" style=" height:98%; line-height: 30px; background-color: #FFFFFF; color:#000000; font-weight: bold;" readonly value="@Model.TarjetaCreditoInfo.CVC" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color:#000000">Fecha de expiración (MM/AAAA): </span>
                            </td>
                            <td>
                                <input type="text" size="3" data-conekta="card[exp_month]" class="input-text" style=" height:98%; line-height: 30px; background-color: #FFFFFF; color:#000000; font-weight: bold;" readonly value="@Model.TarjetaCreditoInfo.ExpiracionMes" />
                                <span>/</span>
                                <input type="text" size="4" data-conekta="card[exp_year]" class="input-text" style=" height:98%; line-height: 30px; background-color: #FFFFFF; color:#000000; font-weight: bold;" readonly value="@Model.TarjetaCreditoInfo.ExpiracionAño" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color:#000000">Número de Celular:</span>
                            </td>
                            <td>
                                <input type="text" size="16" class="input-text" style=" height:98%; line-height: 30px; background-color: #FFFFFF; color:#000000; font-weight: bold;" readonly value="@Model.RecargaInfo.NumeroCelular" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color:#000000">Monto de la recarga:</span>
                            </td>
                            <td>
                                <input type="text" size="16" class="input-text" style=" height:98%; line-height: 30px; background-color: #FFFFFF; color:#000000; font-weight: bold;" readonly value="$ @Model.RecargaInfo.MontoRecarga" />
                            </td>
                        </tr>
                    </table>

                    @*------------- CAPTCHA -------------*@
                    <br />

                    <table>
                        <tr>
                            <td rowspan="2" style="width:25%">
                                <img src="" alt="captcha" style="float:left;" border="0" id="m_imgCaptcha" />
                                
                            </td>
                            <td rowspan="2" style="width:10%">
                                
                                <a href="javascript:loadCaptcha();" class="btn btn-medium style2"><i class="fa fa-refresh"></i></a>
                            </td>
                            <td style="width:5%">
                                &nbsp;
                            </td>
                            <td style ="width:30%; color:#000000;">
                                Ingrese el código que observa en la imagen:
                            </td>
                            <td style="width:30%; color:#000000;">
                                Ingrese el nip recibido en su cuenta de correo:
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 16px; width:1%"></td>
                            <td style="width:5%">
                                <input type="text" size="16" class="input-text" style=" height:98%; line-height: 30px; color: #FFFFFF; color:#000000; font-weight: bold; width:90%" value="" id="txtCaptcha" />
                            </td>
                            <td style="height: 16px; width:99%">
                                <input type="text" size="16" class="input-text" style=" height:98%; line-height: 30px; color: #FFFFFF; color:#000000; font-weight: bold; width:90%" value="" id="txtNIP" />
                            </td>
                        </tr>
                    </table>
                    <br />
                    
                    
                    
                    @*------------- CAPTCHA -------------*@


                    @*<div class="col-md-5 center-block text-left block">
                        <br />
                        <label id="lblErrorMessage" name="lblErrorMessage" style="color: #ff0000; ">@Model.ErrorString</label>
                    </div>*@

                    <button type="submit" id="btnRealizarPagoBack" class="btn btn-md style2" name="Command" value="BackConfirmacion"><< Anterior</button>
                    <button type="submit" id="btnRealizarPago" class="btn btn-md style2" name="Command" value="ApplyCharge">Realizar Recarga</button>
                </div>
            </form>
            
        </div>
            break;
        case RecargaInfoModel.CurrentStep.StepShowResults:
            <div class="col-md-5 center-block text-left block">

                <form action="" method="POST" id="finish-form">
                    @Html.HiddenFor(oCurrentModel => oCurrentModel.RecargaInfo.ActualStep, new { @Value = "StepShowResults" })

                    @Html.HiddenFor(oCurrentModel => oCurrentModel.RecargaInfo.NumeroCelular)
                    @Html.HiddenFor(oCurrentModel => oCurrentModel.RecargaInfo.ConfirmacionCelular)
                    @Html.HiddenFor(oCurrentModel => oCurrentModel.RecargaInfo.MontoRecarga)

                    @Html.HiddenFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.TarjetaHabiente)
                    @Html.HiddenFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.NumeroTarjeta)
                    @Html.HiddenFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.CVC)
                    @Html.HiddenFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.ExpiracionMes)
                    @Html.HiddenFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.ExpiracionAño)
                    @Html.HiddenFor(oCurrentModel => oCurrentModel.TarjetaCreditoInfo.CorreoElectronico)

                    <table class="ui-accordion" style=" width:100%">
                        <tr>
                            <td>
                                <img src="@Url.Content("~/Content/themes/Miracle/images/Step01off.png")" alt="paso_3" style="width:100%;" border="0">
                            </td>
                            <td>
                                <img src="@Url.Content("~/Content/themes/Miracle/images/Step02off.png")" alt="paso_3" style="width:100%;" border="0">
                            </td>
                            <td>
                                <img src="@Url.Content("~/Content/themes/Miracle/images/Step03off.png")" alt="paso_3" style="width:100%;" border="0">
                            </td>
                            <td>
                                <input type="image" src="@Url.Content("~/Content/themes/Miracle/images/Step04on.png")" alt="paso_4" style="width:100%; vertical-align:middle;" border="0" id="NextSelectionPhone" name="Command" value="BackCreditCard" />
                            </td>
                        </tr>
                    </table>

                    <br />

                    @*<span class="card-errors"></span>
                    <br />*@
                    <span style="color:#000000; font-weight:bold; font-size:medium;">RECARGA REALIZADA CON ÉXITO</span>
                    <br /><br />
                    <div class="form-group">
                        
                        <table class="ui-accordion">
                            <tr>
                                <td>
                                    <span style="color:#000000; font-size:medium;">Nombre del tarjetahabiente: </span>
                                </td>
                                <td>
                                    <input type="text" size="24" name="txtNameHolder" class="input-text" style="height:98%; line-height: 30px; color: #000000; background-color:#FFFFFF; font-weight:bold;" readonly value="@Model.TarjetaCreditoInfo.TarjetaHabiente" />
                                </td>
                                <td>
                                    <span style="color:#000000">Respuesta de Telcel: </span>
                                </td>
                                <td>
                                    <input type="text" size="24" name="txtNameHolder" class="input-text" style="height:98%; line-height: 30px; color: #000000; background-color:#FFFFFF; font-weight:bold;" readonly value="@Model.RecargaTelcelInfo.TextoRespuesta" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#000000">Número de tarjeta de crédito: </span>
                                </td>
                                <td>
                                    <input type="text" size="20" class="input-text" style=" height:98%; line-height: 30px; color: #000000; background-color:#FFFFFF; font-weight:bold;" readonly value="@Model.TarjetaCreditoInfo.NumeroTarjeta" /> @*5105105105105100*@  @*4242424242424242*@
                                </td>

                                <td>
                                    <span style="color:#000000">Folio COTEL:</span>
                                </td>
                                <td>
                                    <input type="text" size="20" class="input-text" style=" height:98%; line-height: 30px; color: #000000; background-color:#FFFFFF; font-weight:bold;" readonly value="@Model.RecargaTelcelInfo.FolioCotel" /> 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#000000">CVC: </span>
                                </td>
                                <td>
                                    <input type="text" size="4" class="input-text" style=" height:98%; line-height: 30px; color: #000000; background-color:#FFFFFF; font-weight:bold;" readonly value="@Model.TarjetaCreditoInfo.CVC" />
                                </td>

                                <td>
                                    <span style="color:#000000">Folio Telcel: </span>
                                </td>
                                <td>
                                    <input type="text" size="20" class="input-text" style=" height:98%; line-height: 30px; color: #000000; background-color:#FFFFFF; font-weight:bold;" readonly value="@Model.RecargaTelcelInfo.FolioTelcel" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#000000">Fecha de expiración (MM/AAAA): </span>
                                </td>
                                <td>
                                    <input type="text" size="2" class="input-text" style=" height:98%; line-height: 30px; color: #000000; background-color:#FFFFFF; font-weight:bold;" readonly value="@Model.TarjetaCreditoInfo.ExpiracionMes" />
                                    <span>/</span>
                                    <input type="text" size="4" class="input-text" style=" height:98%; line-height: 30px; color: #000000; background-color:#FFFFFF; font-weight:bold;" readonly value="@Model.TarjetaCreditoInfo.ExpiracionAño" />
                                </td>


                                <td>
                                    <span style="color:#000000">Folio CONEKTA: </span>
                                </td>
                                <td>
                                    <input type="text" size="20" class="input-text" style=" height:98%; line-height: 30px; color: #000000; background-color:#FFFFFF; font-weight:bold;" readonly value="@Model.RespuestaFolioCONEKTA" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#000000">Número de Celular:</span>
                                </td>
                                <td>
                                    <input type="text" size="16" class="input-text" style=" height:98%; line-height: 30px; color: #000000; background-color:#FFFFFF; font-weight:bold;" readonly value="@Model.RecargaInfo.NumeroCelular" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#000000">Monto de la recarga:</span>
                                </td>
                                <td>
                                    <input type="text" size="16" class="input-text" style=" height:98%; line-height: 30px; color: #000000; background-color:#FFFFFF; font-weight:bold;" readonly value="@Model.RecargaInfo.MontoRecarga" />
                                </td>
                            </tr>
                        </table>
                        @*<div class="col-md-5 center-block text-left block">
                            <br />
                            <label id="lblErrorMessage" name="lblErrorMessage" style="color: #ff0000; ">@Model.ErrorString</label>
                            <label id="lblRespuestaTelcel" name="lblRespuestaTelcel" style="color: #ff0000; ">Respuesta de Telcel: @Model.RecargaTelcelInfo.TextoRespuesta</label>
                            <label id="lblRespuestaFolioCOTEL" name="lblRespuestaFolioCOTEL" style="color: #ff0000; ">Folio COTEL: @Model.RecargaTelcelInfo.FolioCotel</label>
                            <label id="lblRespuestaFolioTELCEL" name="lblRespuestaFolioTELCEL" style="color: #ff0000; ">Folio TELCEL: @Model.RecargaTelcelInfo.FolioTelcel</label>
                            <label id="lblRespuestaFolioCONEKTA" name="lblRespuestaFolioCONEKTA" style="color: #ff0000; ">Folio CONEKTA: @Model.RespuestaFolioCONEKTA</label>
                        </div>*@
                        <br />
                        <div class="col-md-5 center-block text-left block">
                            <button type="submit" id="btnRealizarPago" class="btn btn-md style2" name="Command" value="Finish">Realizar Otra Recarga</button>
                        </div>
                    </div>
                </form>
            </div>
            break;
        default:
            <div>Pagina no encontrada</div>
            break;
    }

    <div id="dialog-confirm" title="Atención">
        <p id="errorMessage">@Request.RequestContext.HttpContext.Session["MessageText"]</p>
        <input type="hidden" name="error" value='@Request.RequestContext.HttpContext.Session["MessageText"]' id="error">
    </div>

    <script src="@Url.Content("~/Content/themes/Miracle/js/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/Miracle/js/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</div>

