﻿@using COTEL.Models 
@model COTEL.Models.ContactModel
@model COTEL.Models.CS


@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Miracle/_Layout.cshtml";
}

@using COTEL.Models

<div id="page-wrapper">
    <div class="page-title-container">
        <div class="soap-google-map"></div>
    </div>

    <section id="content">
        <div class="container">
            <ul class="contact-address style2 col-md-9">
                <li class="office-address">
                    <i class="fa fa-map-marker"></i>
                    <div class="details">
                        <h5>Dirección Oficina Central</h5>
                        <p>Pedro Baranda #9 Col. Tabacalera C.P. 06030</p>
                    </div>
                </li>
                <li class="phone">
                    <i class="fa fa-phone"></i>
                    <div class="details">
                        <h5>Número Telefónico</h5>
                        <p>
                            Local: 55350732 - 57055436 <br/> 57055768
                        </p>
                    </div>
                </li>
                <li class="email-address">
                    <i class="fa fa-envelope"></i>
                    <div class="details">
                        <h5>Correo Electrónico</h5>
                        <p style="font-size: 98%; ">
                            ventas_mayoreo@cotel.com.mx
                            @*<br>
                                www.soaptheme.net/wordpress/miracle*@
                        </p>
                    </div>
                </li>
            </ul>

            <div class="col-md-8 center-block text-center block">
                <div class="heading-box">
                    <h2 class="box-title">Déjanos un mensaje</h2>
                    <p class="desc-lg">Deseas formar parte de nuestra red de subdistribuidores y clientes puedes hacerlo por el siguiente medio, y con gusto te atenderemos.</p>
                </div>
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="form-group col-sms-6">
                            @Html.TextBoxFor(oCurrentModel => oCurrentModel.Nombre_Contacto, new { @class = "input-text full-width", @placeholder = "Nombre"})@*, @Name = "contact_name", @id="contact_name"})*@
                            @Html.ValidationMessageFor(oCurrentModel => oCurrentModel.Nombre_Contacto, null, new { @style = "color:red" })
                         </div>
                        <div class="form-group col-sms-6">
                            @*<input type="text" name="contact_email" id="contact_email" class="input-text full-width" placeholder="Dirección de Correo">*@
                            @Html.TextBoxFor(oCurrentModel => oCurrentModel.Email_Contacto, new { @class = "input-text full-width", @placeholder = "Dirección de Correo" }) @*, @Name = "contact_email", @id = "contact_email" })*@
                            @Html.ValidationMessageFor(oCurrentModel => oCurrentModel.Email_Contacto, null, new { @style = "color:red" })
                        </div>
                        <div class="form-group col-sms-6">
                            @*<input type="text" name="contact_number" id="contact_number" class="input-text full-width" placeholder="No. Telefónico">*@
                            @Html.TextBoxFor(oCurrentModel => oCurrentModel.Numero_Contacto, new { @class = "input-text full-width", @placeholder = "No. Telefónico" })@*, @Name = "contact_number", @id = "contact_number" })*@
                            @Html.ValidationMessageFor(oCurrentModel => oCurrentModel.Numero_Contacto, null, new { @style = "color:red" })
                            
                        </div>
                    </div>
                    <div class="form-group">
                        @*<textarea rows="10" name="contact_message" id="contact_message" class="input-text full-width" placeholder="Mensaje"></textarea>*@
                        @Html.TextAreaFor(oCurrentModel => oCurrentModel.Mensaje_Contacto, new { @class = "input-text full-width", @placeholder = "Mensaje" }) @*, @Name = "contact_name", @id = "contact_name" })*@
                        @Html.ValidationMessageFor(oCurrentModel => oCurrentModel.Mensaje_Contacto, null, new { @style = "color:red" })
                    </div>
                    <div class="form-group">
                        <input type="submit" id="sendingbtn" class="btn btn-md style1" value="Enviar Mensaje">
                    </div>
                }
                @*</form>*@
            </div>
        </div>
    </section>
</div>

@*<script src="@Url.Content("~/Content/themes/Miracle/js/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Content/themes/Miracle/js/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@

