﻿@{
    ViewBag.Title = "ProductsAndServices";
    Layout = "~/Views/Miracle/_Layout.cshtml";
}
}

<div id="page-wrapper">


    <div class="page-title-container">
        <div class="page-title">
            <div class="container">
                <h1 class="entry-title">Productos y Servicios</h1>
            </div>
        </div>
        <ul class="breadcrumbs">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="#">Productos y Servicios</a></li>
        </ul>
    </div>

    <section id="content">
        <div class="heading-box h">
            @*<h2 class="box-title">Productos y Servicios</h2>*@
            <p class="desc-lg">Hoy en día puedes encontrar con nosotros los productos que se ajusten a tus necesidades de Comunicación o si bien lo deseas <br> puedes formar parte de nuestra red de subdistribuidores y obtener ganancias por la comercialización de nuestros productos como son:</p>
        </div>

        <div class="parallax parallax-image1" data-stellar-background-ratio="0.5">
            <div class="section blue-alpha-bg">


                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <br>
                            <div class="icon-box style-boxed-1">
                                <div class="icon-container">
                                    <i class="fa fa-mobile-phone"></i>
                                </div>
                                <div class="box-content">
                                    <h4 class="box-title"><a href="#">Telefonos Amigo Kit Telcel y Aló</a></h4>
                                    <p>Contamos con un amplio catálogo de telefonía celular.<br /><br /></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <div class="icon-box style-boxed-1">
                                <div class="icon-container">
                                    <i class="fa fa-money"></i>
                                </div>
                                <div class="box-content">
                                    <h4 class="box-title"><a href="#">Tiempo Aire Electrónico Aló y Telcel</a></h4>
                                    <p>Contamos con venta de tiempo aire electrónico, Street Seller, portal web, App Android e IOS, integración a portal corporativo clientes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <div class="icon-box style-boxed-1">
                                <div class="icon-container">
                                    <i class="fa fa-file-text"></i>
                                </div>
                                <div class="box-content">
                                    <h4 class="box-title"><a href="#">Planes de Renta Telcel</a></h4>
                                    <p>Persona física, persona moral, pyme, mercado empresarial y corporativo.<br /><br /></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section">
            <div class="container">
                <div class="heading-box">
                    <h2 class="box-title">Equipos más vendidos</h2>
                    <p class="desc-lg">Éste es nuestro top 6 de equipos más vendidos</p>
                </div>
                <div class="theme-features">
                    <div class="overflow-hidden">
                        <div class="row same-height">
                            <div class="col-sm-6">
                                <div class="image-box row">
                                    <div class="col-sms-4 col-sm-4 image-container fixed">
                                        <img src="@Url.Content("~/Content/themes/Miracle/images/products/Top_01.png")" alt="">
                                    </div>
                                    <div class="col-sms-8 col-sm-8 details">
                                        <h3 class="title">SAMSUNG SM-G530H</h3>
                                        <p style="text-align: justify;">Reúne rendimiento y estilo para ofrecer un dispositivo que se adapte a tus necesidades de movilidad, sobre todo en la búsqueda de la selfie perfecta.</p>
                                        <a href="#" class="btn btn-sm style4 hover-blue">Ver Más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="image-box row">
                                    <div class="col-sms-4 col-sm-4 image-container fixed">
                                        <img src="@Url.Content("~/Content/themes/Miracle/images/products/Top_02.png")" alt="">
                                    </div>
                                    <div class="col-sms-8 col-sm-8 details">
                                        <h3 class="title">SAMSUNG SM-G355M</h3>
                                        <p style="text-align: justify;">Trae todo en torno al desempeño de tu dispositivo con el procesador Quad Core. Con un rendimiento sin precedentes y conectividad que mantiene la vida laboral y personal optimizada</p>
                                        <a href="#" class="btn btn-sm style4 hover-blue">Ver Más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="image-box row">
                                    <div class="col-sms-4 col-sm-4 image-container fixed">
                                        <img src="@Url.Content("~/Content/themes/Miracle/images/products/Top_03.png")" alt="">
                                    </div>
                                    <div class="col-sms-8 col-sm-8 details">
                                        <h3 class="title">ZTE L2</h3>
                                        <p style="text-align: justify;">Creado con el mejor diseño, una gran pantalla de 5 pulgadas en el cual disfrutarás la increíble velocidad de su procesador QuadCore 1.3 GHz así como tus programas favoritos en su TV Análoga.</p>
                                        <a href="#" class="btn btn-sm style4 hover-blue">Ver Más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="image-box row">
                                    <div class="col-sms-4 col-sm-4 image-container fixed">
                                        <img src="@Url.Content("~/Content/themes/Miracle/images/products/Top_04.png")" alt="">
                                    </div>
                                    <div class="col-sms-8 col-sm-8 details">
                                        <h3 class="title">M4TEL SS1070</h3>
                                        <p style="text-align: justify;">Pantalla de 5 pulgadas full touch capacitivo y gran desempeño Dualcore 1.3Mhz. Expresa y desarrolla tus sentidos al máximo con una cámara de 8 megapixeles y un potente procesador Mediatek MT6582</p>
                                        <a href="#" class="btn btn-sm style4 hover-blue">Ver Más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="image-box row">
                                    <div class="col-sms-4 col-sm-4 image-container fixed">
                                        <img src="@Url.Content("~/Content/themes/Miracle/images/products/Top_05.png")" alt="">
                                    </div>
                                    <div class="col-sms-8 col-sm-8 details">
                                        <h3 class="title">SAMSUNG SM-G313ML</h3>
                                        <p style="text-align: justify;">Si estás buscando un smartphone sencillo pero poderoso, GALAXY Ace 4 Lite es perfecto para ti. Tiene todas las características que buscas en un dispositivo de primera categoría y que maximiza tu vida móvil.</p>
                                        <a href="#" class="btn btn-sm style4 hover-blue">Ver Más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="image-box row">
                                    <div class="col-sms-4 col-sm-4 image-container fixed">
                                        <img src="@Url.Content("~/Content/themes/Miracle/images/products/Top_06.png")" alt="">
                                    </div>
                                    <div class="col-sms-8 col-sm-8 details">
                                        <h3 class="title">NYX FLY MINI</h3>
                                        <p style="text-align: justify;">Llegó FLYmini, el pequeño Smartphone de la familia NYX con un diseño compacto que se adaptará a tus necesidades. Este Smartphone cuenta con sistema operativo Android 4.2 de gran rendimiento</p>
                                        <a href="#" class="btn btn-sm style4 hover-blue">Ver Más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</div>