﻿@{
    ViewBag.Title = "RecargasOffline";
    Layout = "~/Views/Miracle/_Layout.cshtml";
}

<div id="page-wrapper">

    <div class="page-title-container">
        <div class="page-title">
            <div class="container">
                <h1 class="entry-title">Recarga de Tiempo Aire Electrónico</h1>
            </div>
        </div>
        <ul class="breadcrumbs">
            <li><a href="index.html">Inicio</a></li>
            <li class="active">Recarga de Tiempo Aire Electrónico</li>
        </ul>
    </div>
    <br /><br />
    <div class="heading-box col-md-6">
        <p class="desc-lg text-center " style="font-size: 1.8em; font-weight:bold;">
            Servicio no disponible, disculpe las molestias que ésto le ocasiona, por favor intente más tarde.
        </p>
        
    </div>
</div>